<!DOCTYPE html>
<html class="theme-light" style="background-color: #0F172A;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    </head>
  <body >
    <header>
        <br>
        <h1 class="title has-text-centered has-text-white is-1">Blog de Noticias</h1>
        <h2 class="subtitle has-text-centered is-4">Lo más reciente en México</h2>
        <hr>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
  </body>
</html>