{% extends 'base.html' %}
{% block title%} Blog de Noticias{% endblock %}
{% block content%}
<div class="columns">
    <div class="column is-offset-3 is-6">
        <div class="card">
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">Agregar Post</p>
                    </div>
                </div>
                <div class="content">
                    <form action="{{ url_for('add_post') }}" method="post">
                        <div class="field">
                            <label class="label">Titulo:</label>
                            <div class="control">
                                <input class="input" type="text" name='title'>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Categoria:</label>
                            <div class="control">
                                <div class="select">
                                    <select name="category_id">
                                        {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Contenido:</label>
                            <div class="control">
                                <textarea class="textarea" name="content"></textarea>
                            </div>
                        </div>
                        <button class="button is-success " type="submit">Agregar</button>
                        <a class="button is-danger" href="{{ url_for('index') }}">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}